
/****************
      Header
*****************/

.seccion1{
      position: sticky;
      top: 0;
      background: $purple;
      padding: 55px 10% 25px;
      z-index: 1;
}
.links{
      list-style: none;
      display: inline;
      float:right;
      min-width: 50%;
      li{
            padding: 4px 12px;
            border-radius: 5px;
            float: left;
            margin-left: 5%;
            position: relative;
            &:hover{
                  background: $purple/1.5;
            }
            &:first-child{
                  background-color: $purple/1.5;
            }
      }

      a{
            color:$white;
      }

     
}
