/****************
      Footer
*****************/
#azul{
      background-color:#30bae7;
      margin: 50px;
      padding: 48px;
}

.footer li{
      list-style: none;
      display: inline;
      
}
